
#bg{
	background-color: #FFE466;
}

#paymentApp {
	overflow-x: hidden;
}

#logo{
	display: inline-block;
	width: auto;
	height: 40px;
	margin-top: -16px;
	margin-right: 10px;
	margin-left: 10px;
}

#line{
	border-top: 1px solid #59575a;
}

#footer {
	font-family: verdana;
	font-size: 0.8em;
	color: #59575a;
	margin-top: 40px;
	display: block;
	text-align: center;
}

h1 {
	display: inline;
}

input {
	width: 60px;
}

label > i {
	width:205px;
	font-size: 1.5em;
	font-family: verdana;
	color: #59575a;
}

i.glyphicon-ok {
	margin-left: 4px;
}

form {
	margin-top: 35px;
	margin-left: 30px;
}

.title {
	margin-top: 10px;
	text-align: center;
}

.info{
	font-size: 0.95em;
	font-family: verdana;
	color: #59575a;
	margin-top: 20px;
	margin-left: 10px;
	text-align: center;
}

.content{
	margin: 0 auto;
	width: 360px;
	height: 100%;
}

.entry{
	display: block;
	margin: 10px;
}

.output{
	display:block;
	margin-top: 20px;
	margin-left: 10px;
}