/* PaymentApp Stylings
Creator: Daniel Eckelt
Date: 02.10.2014
*/

* {
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	color: #F5EDB5 !important;
}

input[type="text"], textarea {
    background-color: transparent;
    border: 2px solid;
}

body, #cover {
	/*background-color: #FFE466;*/
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
}

#paymentApp {
	overflow-x: hidden;
}

#logo{
	display: inline-block;
	width: auto;
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
	margin-left: 10px;
	-webkit-transition: all 1s;
	        transition: all 1s;
}

#logo:hover {
	-webkit-transform: rotate(360deg) scale(1.5);
	    -ms-transform: rotate(360deg) scale(1.5);
	        transform: rotate(360deg) scale(1.5);
}

#line{
	border-top: 1px solid #59575a;
}

#footer {
	font-family: verdana;
	font-size: 0.8em;
	color: #59575a;
	margin-top: 40px;
	display: block;
	text-align: center;
}

input {
	width: 60px;
}

label > i {
	width:205px;
	font-size: 1.5em;
	font-family: verdana;
	color: #59575a;
	text-align: center;
}

i.glyphicon-ok {
	opacity: 0;
	margin-left: 4px;
}

i.glyphicon-ok.visible {
	opacity: 1
}

form {
	margin-top: 35px;
}

.title {
	margin-top: 40px;
	text-align: center;
}

.heading {
	display: inline;
	vertical-align: middle;
}

.info{
	font-size: 0.95em;
	font-family: verdana;
	color: #59575a;
	margin-top: 20px;
	text-align: center;
}

.content{
	margin: 0 auto;
	max-width: 320px;
	height: 100%;
}

.entry{
	text-align: center;
	display: block;
}

.entry .icon {
	text-align: left;
}

.output{
	display:block;
	margin-top: 20px;
	margin-left: 10px;
}

.hiddenSubmit {
	position: absolute;
	left: -9999px; width: 1px;
	height: 1px;
}


@media(min-width: 960px){
	.title {
		margin-top: 30%;
	}
}

@media(min-width: 1400px){
	.title {
		margin-top: 40%;
	}
}
