<!DOCTYPE html>
<html lang="de" data-ng-app="paymentApp">
<head>
	<!-- Payment App: The app is for easy calculating
 	the change of money between two people. When shopping
	one is paying directly the full price at the checkout.
	To find out how many the other owes to the payer, this
	little app does the rest ;) -->

	<meta charset="utf-8">
	<title>PaymentApp (€)</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">

</head>
<body id="bg">

	<section id="paymentApp" data-ng-controller="AppCtrl">

		<div class="content">

			<div class="title">
				<img src="img/euros.png" alt="Logo" id="logo">
				<h1 class="heading">Pay me!</h1>
			</div>

			<form name="payForm">
				<label class="entry" alt="Summe auf dem Einkaufszettel ganz unten">
					<i class="glyphicon glyphicon-barcode icon"> Summe:</i>
					<input name="sum" type="number" step="any" data-ng-model="sum" required onclick="this.select()"> €
					<i data-ng-class="{visible: payForm.sum.$valid}" class="glyphicon glyphicon-ok"></i>
				</label>
				<label class="entry" alt="Preis alle Dinge desjenigen, der bereits bezahlt hat">
					<i class="glyphicon glyphicon-log-in icon"> Zahlender:</i>
					<input name="payer" type="number" min="0" step="any" data-ng-model="payer" required onclick="this.select()"> €
					<i data-ng-class="{visible: payForm.payer.$valid}" class="glyphicon glyphicon-ok"></i>
				</label>
				<label class="entry" alt="Preis aller Dinge desjenigen, der noch zahlen muss">
					<i class="glyphicon glyphicon-log-out icon"> Nachzahlender:</i>
					<input name="afterPayer" type="number" min="0" step="any" data-ng-model="afterPayer" required onclick="this.select()"> €
					<i data-ng-class="{visible: payForm.afterPayer.$valid}" class="glyphicon glyphicon-ok"></i>
				</label>

				<!-- Result, shown if every entry is filled -->
				<label class="output" data-ng-show="payForm.$valid">
					<hr id="line">
					<i class="glyphicon glyphicon-transfer"> Zu zahlen:</i>
					<span data-ng-show="sum-payer+afterPayer < 0">- </span>{{ solution() | currency: "€ "}}
				</label>

				<!-- Error Message, shown if something is missing -->
				<p data-ng-show="payForm.$invalid" class="info">
					Bitte sinnvoll mit Zahlen befüllen...
				</p>
				<input type="submit" class="hiddenSubmit">
			</form>

			<span id="footer">
				<i class="glyphicon glyphicon-copyright-mark"></i> All rights reserved, 2014 | by Sir Daniel
			</span>

		</div>

	</section>

	<script src="libs/angular_1-2-16.min.js"></script>
	<script src="libs/angular-animate_1-2-16.min.js"></script>
	<script src="app.js"></script>
	<script src="controller/AppCtrl.js"></script>
</body>
</html>
